@font-face {
  font-family: Univers;
  font-weight: 400;
  src: url("/fonts/UniversNextPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Univers;
  font-weight: 600;
  src: url("/fonts/UniversNextPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Typewriter;
  font-weight: 400;
  src: url("/fonts/UniversNextTypewrtrPro-Rg.woff2") format("woff2");
}
