.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.5rem;
  font-size: 18px;
}

.logo > div {
  flex: 0 0 33%;
}

.logo > div:last-child {
  text-align: right;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box {
  padding: 1rem;
  background-color: white;
  color: black;
  flex: 0 0 33%;
  min-height: 400px;
}

.box h1 {
  margin-top: 0;
}

.box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
